* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.4),
      transparent 60%
    ),
    linear-gradient(135deg, #a1c4fd, #7fb5ff);
}

.card {
  width: 90%;
  max-width: 470px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  color: #2c3e50;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  margin: 0;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-4px);
}
.shape {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(1.2em);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.shape-1 {
  height: 13em;
  width: 13em;
  right: -6.5em;
  top: 1.8em;
}
.shape-2 {
  height: 11em;
  width: 11em;
  bottom: -3.7em;
  left: -2.5em;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  /* background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px); */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.search button:hover {
  transform: scale(1.05);
}
.search button img {
  width: 16px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
  color: #1e2a38;
}
.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  display: none;
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}
